body {
	margin: 0;
	background-color: white;
    height: 100%;
	padding: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	font-family: "Book Antiqua","Palatino","Palatino Linotype","Palatino LT STD",Georgia,serif; 
}
.nav-logo{
    display: flex;
    justify-content: space-between;
    font-size: 18pt;
    background-color: aliceblue;
}
.nav-logo img{
    height: 90px;
    width: 90px;
}
.nav-logo ul li{
    padding-top: 30px;
	list-style: none;
	display: inline-block;
	margin : 0 30px;
	position: relative;
    text-decoration: none;
	color: black;
    cursor: pointer;
}

.nav-logo ul{
    margin: 0;
    margin-right: 30px;
}

.nav-logo ul li::after{
	content: '';
	height: 2px;
	width: 0;
	background:#B24E89;
	position: absolute;
	left: 0;
	bottom: -5px;
	transition: 0.8s;
	
}
.nav-logo ul li:hover::after{
	width: 100%;
}
.sub-nav{
    background-color: rgb(37, 36, 36);
	font-size: 18pt;
	text-align: center;
	color: white;
}
.sub-nav ul{
	margin: 0;
}
.sub-nav ul li{
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0 30px;
	display: inline-block;
	text-decoration: none;
	list-style: none;
  cursor: pointer;
}
.wom-nav{
    flex-direction: column;
    height: 450px;
    width: 450px;
    font-size: 11pt;
    background-color:rgb(37, 36, 36);
    justify-content: center;
    color: white;
    font-style: italic;
    text-align: center;
    z-index: 5;
    position: absolute;
    display: none;
    left: 40%;
    padding-top: 20px;
    cursor: default;
}
.wom-nav img{
    height: 150px;
    width: 150px;
    margin: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.wom-nav img:hover {
  transform: scale(1.2);
}
.wom-nav p{
    margin: 6px;
}
.wom-btn:hover .wom-nav{
  display: block;
}
.men-nav{
      flex-direction: column;
    height: 450px;
    width: 450px;
    font-size: 11pt;
    background-color:rgb(37, 36, 36);
    justify-content: center;
    color: white;
    font-style: italic;
    text-align: center;
    z-index: 5;
    position: absolute;
    display: none;
    left: 46%;
    padding-top: 20px;
    cursor: default;
}
.men-nav img{
    height: 150px;
    width: 150px;
    margin: 20px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.men-nav img:hover {
  transform: scale(1.2);
}
.men-nav p{
    margin: 6px;
}
.men-btn:hover .men-nav{
  display: block;
}
.slider {
  position: relative;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

.slider img {
  width: 100%;
  flex-shrink: 0;
}
.dots {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: gray;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: rgb(47, 42, 42);
}
.a-container{
    position: relative;
    background-color: #F0BFDB;
    width: 100%;
    height: auto;
}
.mid-txt{
  height: auto;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 40px;

}
.mid-txt h1{
  font-size: 40pt;
}
.mid-txt p{
  font-size: 26pt;
  width: 80%;
  align-items: center;
  margin-left: 10%;
  
}
/* ------------------------ for item1 */
.arrival-txt{
    font-weight: bold;
    font-size: 30pt;
    text-align: center;
    padding: 30px;
    margin-top: 0;
}
.a-items{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 1500px; 
    width: 100%;
    
}
.items-container{
  align-items: center;
}
/* ------------------------ For item2 */
.b-container h1{
  color: rgb(178, 78, 137);
  font-size: 34pt;
  text-align: center;
  padding-top: 5%;
}
.b-container h4{
  font-weight: 100;
  font-size: 20pt;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  padding-bottom: 4%;
}
.b-items{
  display: flex;
  justify-content: center;
  flex-direction: row;

}
